<%= form_for(account_alias, html: {class: 'ui form'}) do |f| %>
  <% if account_alias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_alias.errors.count, "error") %> prohibited this alias from being saved:</h2>

      <ul>
      <% account_alias.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_username %>
    <%= f.text_field :source_username %>
  </div>

  <div class="field">
    <%= f.label :source_domain %>
    <%= f.text_field :source_domain %>
  </div>

  <div class="field">
    <%= f.label :destination_username %>
     <!-- TODO: load users depending on the current selected domain (JavaScript needed) -->
    <% if is_admin? %>
      <%= f.collection_select :destination_username, Account.all, :username, :username, {selected: params[:u]}, {class: 'ui search dropdown'} %>
    <% else %>
      <%= f.text_field :destination_username, value: current_user.username, readonly: true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :destination_domain %>
    <% if is_admin? %>
      <%= f.collection_select :destination_domain, Domain.all, :domain, :domain, {selected: params[:d]}, {class: 'ui search dropdown'} %>
    <% else %>
    <%= f.text_field :destination_domain, value: current_user.domain, readonly: true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <div class="actions">
    <%= f.submit class: 'ui button primary' %>
  </div>

<% end %>
