<div class="ui middle aligned center aligned grid">
  <div class="column">
    <p id="error" class="text-center"><%= flash[:error] %></p>
    <h2>Mailman Login</h2>
    <%= form_for(:session, url: login_path, method: 'post', html: {class: 'ui large form'}) do |f| %>

      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, {placeholder: 'Email address', required: true} %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, {placeholder: 'Password', required: true} %>
          </div>
        </div>

        <%= f.submit 'Login', class: 'ui fluid large primary submit button' %>
      </div>

      <div class="ui error message"></div>

    <% end %>
  </div>
</div>
